* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.photos {
    width: 80%;
    margin: auto;
}

.row {
    width: 100%;
    margin: 20px;
}   

.column {
    display: inline-block;
    width: calc(100% / 3);
    padding: 0 10px;
}

.column img {
    width: 100%;
    /* display block viene usato per rimuovere spazio sotto foto */
    display: block;
}

.price {
    text-decoration: line-through;
}

.discount {
    color: red;
    font-size: 20px;
}

.product-image {
    position: relative;
    margin-bottom: 20px;
    margin-top: 5px;
}

.etichette {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.sconto {
    background-color: red;
    color: white;
    font-size: 0,7em;
    padding: 5px;
}

.eco {
    background-color: green;
    color: white;
    font-size: 0,7em;
    padding: 5px;
}

.heart {
    position: absolute;
    background-color: white;
    padding: 10px;
    right:0;
    top: 15px;
}

.column img:nth-of-type(2) {
    display: none;
}

.product-image:hover img:nth-of-type(2){
    display: block;
}

.product-image:hover img:nth-of-type(1){
    display: none;
}