* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photos {
    width: 80%;
    margin: auto;

}

.row {
    width: 100%;
    margin: 20px;
}   

.column {
    display: inline-block;
    width: calc(100% / 3);
    padding: 0 10px;
}

.column img {
    width: 100%;
    /* display block viene usato per rimuovere spazio sotto foto */
    display: block;

}