* {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.card {

    position: relative;
    
}

.levis {
    
    width: 250px;
    
}

div {
    
    display: inline-block;
    
}

.heart {
    
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
    padding: 5px;

}

.discount {
    
    position: absolute;
    bottom: 20px;
    left: 0px;
}

.fifty {

    color: white;
    background-color: red;
    padding: 3px;
    bottom: 20px;
}

.eco {
    color: white;
    background-color: green;
    margin-left: 5px;
    padding: 2px;
}

body {
    margin-left: 300px;
    margin-right: 300px;
}

.ecob {
    color: white;
    background-color: green;
    margin-left: 0px;
    padding: 2px;
}

.margin {

    margin-top: 40px;
}

.description {
    margin-left: 125px;
    text-align: left;
    margin-top: 5px;
}

.descrizione {


}